@tailwind base;
@tailwind components;
@tailwind utilities;

/* (Optional) If you want some fallback or extra base styles: */
html, body {
  height: 100%;
  min-height: 100%;
}
.btn, .dropzone {
  border-radius: 0.75rem; /* igual que rounded-xl de Tailwind */
}
